body {
  margin: 0;
  padding: 0;
}

h1 {
  text-transform: capitalize;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Calibri;
  font-size: 24px;
}

.App-header {
  background-color: #30295e;
  width: 100%;
  min-height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
  padding: 20px;

}

.App-header input {
  width: 200px;
  height: 40px;
  border-radius: 10px;
  border: 1px solid black;
  font-size: 18px;
  margin: 20px;
  padding-left: 10px;
}

.App-header button {
  width: 180px;
  height: 40px;
  margin: 20px;
  border-radius: 10px;
  font-size: 18px;
  padding-left: 10px;
  border: none;
  color: black;
  background-color: #ff7400
}

.App-header button:hover {
  cursor: pointer;
}
